<div class="fondo">
    <div class="conatiner">
        <div class="row">

            <div class="logo col-3">
                <img src="./assets/stream.jpg"  class="m-4" width=80px>
                <span style="font-family:'Roboto',sans-serif; font-size:60px">N-food</span>
        
                <!-- Fuente del título de la web en la cabecera-->
                    <link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
                <!---->
            </div>  
            <div class="col-8 mt-4">
                <p style="font-family:'Roboto',sans-serif; font-size:20px">Encuentra, prepara y arrasa con los platos que encuentres</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    
        <input placeholder="Buscar ingredienes, platos,..." style="border-radius: 9px; width:300px">
        
    
    <menu></menu>
</div>