.fondo{
    background-color: #9acd32;
    border-top: 30px solid white;
    
}

img{
    border-radius: 50%;
    border:1px solid black;
    padding:12px;
    background-color: white;
}

input{
    text-indent: 10px; //para que el placeholder tenga un espacio
    //align-items: right;
}