<!--
1 Crear el archivo de angular
https://github.com/angular/angularfire/blob/master/docs/install-and-setup.md

  Como ya esta instalado angular en VSC solo debemos crear un archivo para comenzar
  a trabajar con angular, con ng new

  * Para generar componentes ng g c "nombreComponente"

  *Para instalar bootstrap
  npm install boostrap

      Hay que revisar que en package.json en las lineas 33-34 pone
          "styles": [
                  "node_modules/bootstrap/dist/css/bootstrap.min.css",
                  "src/styles.scss"
                ],
                "scripts": [
                  "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
                ]
      y que en angular.json la version de bootstrap

  * Para generar uninterface, por ejemplo para meter los modelos
    de lo que será el usuario del que trabajara en firebase
    ng generate interface shared/models/user

  * Para generar un servicio, el cual dispondra la lógica de la cual
    se accedera a firebase y se compartira a otros ficheros de VSC
    ng generate service shared/services/auth

  * ng serve para mostrar todo en internet


2 Añadir firebase a angular
ng add @angular/fire (si es necesario se le da 2 veces)

-->

<cabecera></cabecera>
<router-outlet></router-outlet>
